{% extends 'base.html' %}
{% block content %}



<hr>
<div class="container text-center">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
            <label form="exampleInputEmail1">Nazwa wydarzenia {{form.name}}</label>

        </div>
        <div class="form-group">
            <label form="exampleInputEmail1">Data {{form.date}}</label>

        </div>
        <div class="form-group">
            <label id="coordinates" form="coordinates">Współrzędne {{form.coordinates}}</label>

        </div>
        <div class="form-group">
            <label form="exampleInputPassword1">Miasto {{form.city}}</label>

        </div>
        <div class="form-group">
            <label form="exampleInputPassword1">Ulica i numer {{form.street}}</label>

        </div>
        <div class="form-group">
            <label form="exampleInputPassword1">Rodzaj wydarzenia {{form.type}}</label>

        </div>
        <div class="form-group">
            <label form="exampleInputPassword1">Opis {{form.description}}</label>

        </div>
        <div class="form-group">
            <label form="exampleInputPassword1">user {{form.creatorName}}</label>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        {{form.errors}}

    </form>


</div>

<hr>

{% endblock %}