{% extends 'base.html' %}
{% block content %}

<form method="POST" action="">
    {% csrf_token %}
    <div class="form-group">
        <label form="exampleInputEmail1">Nazwa wydarzenia</label>
        {{form.name}}
    </div>
    <div class="form-group">
        <label form="exampleInputEmail1">Data</label>
        {{form.date}}
    </div>
    <div class="form-group">
        <label form="exampleInputPassword1">Miasto</label>
        {{form.city}}
    </div>
    <div class="form-group">
        <label form="exampleInputPassword1">Ulica i numer</label>
        {{form.street}}
    </div>
    <div class="form-group">
        <label form="exampleInputPassword1">Rodzaj wydarzenia</label>
        {{form.type}}
    </div>
    <div class="form-group">
        <label form="exampleInputPassword1">Opis</label>
        {{form.description}}
    </div>
    <div class="form-group">
        <label form="exampleInputPassword1">user</label>
        {{form.creatorName}}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
        {{form.errors}}

</form>


{% endblock %}